{% extends "background.html" %}

{% block title %}
Mucg-delivery
{% endblock %}

{% block content %}

<body>

<div class="container">
  <header class="header">
    <h1 id="title" class="text-center">Methodist  Dansoman Campus Delivery Service</h1>
    <p id="description" class="description text-center">
      Thank you for using our services, we are ready to serve you more.
    </p>
  </header>
  <form action="/deliveryForRoyalForm" method="post">
    <div class="form-group">
      <label id="name-label" for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        placeholder="Enter your name"
        required
      />
    </div>

          <div class="form-group">
      <p>Food</p>
      <select id="food" name="food" class="form-control" required>
        <option disabled selected value>Select your meal</option>
        <option value="fried-rice(GHc10)">Fried-rice (GHc10)</option>
        <option value="jollof-rice(GHc10)">Jollof-rice(GHc10)</option>
        <option value="plain-rice(GHc10)">plain-rice (GHc10)</option>
        <option value="wache(GHc10)">Wache(GHc10)</option>
        <option value="Spaghetti(GHc6)">Spaghetti(GHc6)</option>
        <option value="Banku & Okra soup(GHc8)">Banku,Okra soup & Meat(GHc8)</option>
          <option value="Banku & Light soup(GHc7)">Banku & Light soup (GHc7)</option>
        <option value="Banku pepper & fish(GHc7)">Banku, peppper & fish (GHc7)</option>
          <option value="Kenke & Okra soup(GHc7)">Kenke & Okra soup (GHc7)</option>
          <option value="Kenke & light soup(GHc7)">kenke & Light soup (GHc7)</option>
          <option value="kenke,pepper & fish(GHc7)">kenke , peppper & fish (GHc7)</option>


      </select>
    </div>


      <!-- drop down for location -->
          <div class="form-group">
      <p>Location</p>
      <select id="location" name="location" class="form-control" required>
        <option disabled selected value>Select your Location</option>
        <option value="Alpha-Royal">Alpha-Royal</option>
        <option value="Center-Link">Center-Link</option>
          <option value="Office">Office</option>
          <option value="Class-room">Class-room</option>
          </select>
          </div>

    <div class="form-group">
      <label id="hostelorOfficeNum" for="hostelorOfficeNum">Hostel/Office number</label>
      <input
        type="text"
        name="hostelorOfficeNum"
        class="form-control"
        placeholder="Enter your hostel,Class-room or office number"
        required
      />
    </div>


    <div class="form-group">
      <label id="number-label" for="number"
        >Package<span class="clue">(how many pack)</span></label>
      <input
        type="number"
        name="number"
        id="number"
        min="1"
        max="50"
        class="form-control"
        placeholder="how many pack"
      />
    </div>

      <div class="form-group">
      <label id="phoneNumber-Label" for="phoneNumber">Contact(phone-number) </label>
      <input
        type="contact"
        name="phoneNumber"
        id="phoneNumber"
        class="form-control"
        placeholder="Enter your Phone-Number"
        required
      />
    </div>







         <div class="form-group">
      <label id="email-label" for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        placeholder="Enter your Email"
        required
      />
    </div>

    <div class="form-group">
      <label id="usersPreference" for="usersPreference">Optional:Proportion of Food(e.g rice 5ghc wache 10ghc)</label>
      <textarea
        type="usersPreference"
        name="usersPreference"
        id="usersPreference"
        class="form-control"
        placeholder="example rice 5 cedes salad 1 cedes chicken 4"
      
      >
      </textarea>
    </div>




    <div class="form-group">
      <div class="submit-button text-center">
      <button type="submit" id="submit" class="btn btn-primary" style="text-align:center">
        Submit
      </button>
      </div>
    </div>
  </form>
</div>
</body>
<hr>













<style>
body {

  background-image: url('../static/all-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color:#EDFAFF;
}


</style>


{% endblock %}