{% extends "background.html" %}

{% block title %}
Mucg-Menu
{% endblock %}

{% block content %}


<!-- food is ready for all -->
     <h1 align="center" >    FOOD IS  READY</h1>

     <hr color="#EDFAFF;">
      <hr>
<br>
  <div class="bmi">
 <div class="containner" >
	<div class="card-deck">
     <div class="row" >
		 <div class="col" style="width: 30rem;">
			 <h2> Manuvia Cafeteria</h2>
			 <div class="card" >
				 <img class="card-img-top" src="../static/jollofweb4.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text">Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForManovia') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>

	 </div>



	    <div class="row">
		 <div class="col" style="width: 30rem;">
			 <h2>  Stella's  Restaurants</h2>
			 <div class="card" >
				 <img class="card-img-top" src="../static/jollofweb3.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text">Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForStella') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>
	</div>
	</div>


		  <br>
<hr color="#EDFAFF;">
    <div class="card-deck">
		<div class="row" >
		 <div class="col" style="width:30rem;">
			 <h2> FINGARLING (BABA)</h2>

			 <div class="card" style="width: 30rem;">
				 <img class="card-img-top" src="../static/Suya.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc3 <hr color="#EDFAFF;"><br>
						 Stacks(Chicken, Sausage, Goat, Gizzard) </h5>
					 <p class="card-text">Delicious and Yummy stacks(chicken, beef, Hot-Dog) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForKiberb') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>
		</div>


		<div class="row">
		 <div class="col"  style="width:30rem;">
			 <h2> Matharus Restaurant </h2>
			 <div class="card">
				 <img class="card-img-top" src="../static/jollofOri.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title"> GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text">Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForMartharus') }} " class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>
	  
    </div>
</div>


  <br>
<hr color="#EDFAFF;">

<div class="card-deck">
		<div class="row" >
		 <div class="col" style="width:30rem;">
			<h2> Royal Food </h2>

			 <div class="card" >
				 <img class="card-img-top" src="../static/webFriedRice.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text"> Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForRoyal') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>

		</div>




	</div>
 
</div>
</div>
 </div>
 </div>
 
<br>

<style>
	.bmi {         /*my additional class name -for card*/
    margin-left: 18%;      
    margin-right: 18%;
    width: auto;
}
 

</style>
{% endblock %}