{% extends "background.html" %}

{% block title %}
Mucg-Menu
{% endblock %}

{% block content %}


<!-- food is ready for all -->
     <h1 align="center" >    FOOD IS  READY</h1>

     <hr color="#EDFAFF;">
      <hr>
<br>
      <div class="containner" >
     <div class="row" style="padding-left:5px">
		 <div class="col">
			 <h2> Manuvia Cafeteria</h2>
			 <div class="card" style="width: 42rem;">
				 <img class="card-img-top" src="static/images/jollofweb4.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text">Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForManovia') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>





		      <div class="row">
		 <div class="col">
			 <h2> Stella's Fine Dining Restaurants</h2>
			 <div class="card" style="width: 42rem;">
				 <img class="card-img-top" src="static/images/jollofweb3.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text">Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForStella') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>
	</div>

</div>

		  <br>
<hr color="#EDFAFF;">
		      <div class="row" style="padding-left:5px">
		 <div class="col">
			 <h2> FINGARLING (BABA)</h2>

			 <div class="card" style="width: 42rem;">
				 <img class="card-img-top" src="static/images/Suya.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc3 <hr color="#EDFAFF;"><br>
						 Stacks(Chicken, Sausage, Goat, Gizzard) </h5>
					 <p class="card-text">Delicious and Yummy stacks(chicken, beef, Hot-Dog) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForKiberb') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>






		      <div class="row">
		 <div class="col">
			 <h2> Matharus Restaurant </h2>
			 <div class="card" style="width: 42rem;">
				 <img class="card-img-top" src="static/images/jollofOri.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title"> GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text">Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForMartharus') }} " class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>
	</div>
</div>
<hr color="#EDFAFF;">

		   <div class="row" style="padding-left:5px">
		 <div class="col">
			 <h2> Royal Food Court</h2>

			 <div class="card" style="width: 42rem;">
				 <img class="card-img-top" src="static/images/webFriedRice.jpg" alt="card image cap" >
				 <div class="card-body">
					 <h5 class="card-title">GHc10 <hr color="#EDFAFF;"><br>
						 Delicious Meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) </h5>
					 <p class="card-text"> Yummy and Delicious meals(Jollof-rice, Fried-rice, groundnut soup, Okra and more) place your order and it will be delivered at your door step</p>
					 <a href="{{ url_for('deliveryForRoyal') }}" class="btn btn-primary">Order</a>
				 </div>
			 </div>
		 </div>

		   </div>




	</div>



<br>

<style>

</style>
{% endblock %}